<!Doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/signup.css">
<head>


<form method="POST" action='/registrations'>
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p><hr>
    <div class="signup_text">
    <div class="email_but">
      Email:
    <input type="text" placeholder="Enter Email" name="email" required><br>
    </div>
      Password:
    <input type="password" placeholder="Enter Password" name="password" required><br><hr>
    
    <div class="register">
    <button type="submit" class="registerbtn" value="Sign Up">Sign Up</button>
    </div>
    </div>
  </div>
</form>
</html>

