<!Doctype html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/css/signup.css">
<head>


<form method="POST" action='/posts/upload'>
  <div class="container">
    <h1>User Upload</h1>
    <hr>

    <div class="signup_text">
    <div class="email_but">
      Image Name:
    <input type="text" placeholder="name" name="name"><br>
    </div>
      Image URL:
    <input type="url" placeholder="Image URL" name="image_url">
    <select>
      <optgroup label="category">
        <option value="forsale">For Sale</option>
        <option value="jobs">Jobs</option>
      </optgroup>
    </select>
    <hr>

    <div class="register">
<<<<<<< HEAD
    <button type="submit" class="registerbtn" value="Upload Image">Submit</button>
=======
    <button type="submit" class="registerbtn" value="Sign Up">Submit</button>
>>>>>>> 4bcb87d8a6bd55f7d07a407743cc550c3848138e
    </div>
    </div>
  </div>
</form>
</html>