<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Craiglist</title>
  <link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<body>

	<header id="header"><p></p></header>

	<div id="container">

		<main id="center" class="column">
			<article>
				<h1 class="heading">Malaysia</h1>
				<ul>
          <h3>For Sale</h3>
          <li><a href="/posts/forsale">Bikes</a></li>
          <li><a href="/posts/forsale">Phones</a></li>
        </ul>
        <ul>
          <h3>Jobs</h3>
          <li><a href="/posts/jobs">account</a></li>
          <li><a href="/posts/jobs">admin/office</a></li>
        </ul>
			
			</article>								
		</main>

		<nav id="left" class="column">
			<article>
				<h1>Craiglist</h1>
        <input type="text" placeholder="Search.."><br>
        <a href="/registrations/signup">Create Account</a>
			</article>


			  <h3>Calender</h3>

        <h3>Buy now</h3>
          <p> help, faq, abuse, legal</p>
          <p> avoid scams & fraud</p>
          <p> personal safety tips</p>
          <p> terms of usenew</p>
          <p> privacy policy</p>
          <p> system status</p>
          <p> about craigslist</p>
          <p> craigslist open source</p>
          <p> craigslist blog</p>
          <p> best-of-craigslist</p>
          <p> craigslist TV</p>
          <p> "craigslist joe"</p>
          <p>  craig connects</p>
		</nav>

      <div id="right" class="column">
        <h3>English</h3>
      </div>
	</div>

	<div id="footer-wrapper">
		<footer id="footer"><p>help    privacy     feedback     jobs</p></footer>
	</div>
</body>
</html>































<%# <!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/html.css">
    <title>Craiglist</title>
  </head>
  <!-- # ######################################################################### -->
  <body>
    <div class="container">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-6">
      <h2>Malaysia</h2>

    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-5">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
<!-- # ######################################################################### -->

  <%# <div class="card">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> %>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <%# <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html> %> 